	


    .diet_container{       
      width: fit-content;
       
      }

      .diet_select{
        margin-bottom: 15px;
        font-family: "Roboto", sans-serif;
        width: 100%;
        padding: 10px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; 
        border: none; 
        color: #525c66; 
        font-size: 1em;
        resize: horizontal; 
	      border-radius: 5px;
      }
    