.fondo{
  background: url("../../images/mosaico.jpg") no-repeat center center fixed; 
  background-size: cover; 
   width: 96vw;
  
}

.form_create{
  padding: 10px;
  max-width: 400px;
  background-color: #E7E7E7;
  margin: 0 auto;
  border-radius: 10px;
}

.buttonRefresh{
  display: block;
  background-color: #eb7700;
  padding: 10px 45px 10px 45px;
  border: 0;
  font-size: 1em;
  color: white;  
  border-radius: 10px;
  margin: 25px auto 
}

.buttonRefresh:hover{
  background-color: #046193;
  cursor: pointer;
}

.form_button {
  text-decoration: none;
  display: block;
  background-color: #eb7700;
  padding: 10px 45px 10px 45px;
  border: 0;
  font-size: 1em;
  color: white;
  /* font-family: "Roboto", sans-serif; */
  border-radius: 10px;
  margin: 0 auto 0;
  margin-top: 6px;
}
.form_button:hover{
  background-color: #046193;
  cursor: pointer;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f5f4;
}
		
	.formContainer{
  padding: 60px;
  max-width: 400px;
  background-color: #E7E7E7;
  margin: 0 auto;
	border-radius: 10px;
}
 
.form_input, .form_textarea{
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
  border: none; 
  color: #525c66; 
  font-size: 1em;
  resize: horizontal; 
	border-radius: 5px;
}

.buttonForm {
    text-decoration: none;
    display: block;
    background-color: #eb7700;
    padding: 10px 45px 10px 45px;
    border: 0;
    font-size: 1em;
    color: white;
    /* font-family: "Roboto", sans-serif; */
    border-radius: 10px;
    margin: 0px auto 0px;
}
.buttonForm:hover{

  cursor: pointer;
  background-color: hsl(202, 5%, 71%)

}
.form_textarea { resize: none; }
		
		input[type="checkbox" i] {
    display: inline-block;
    width: 35px;
}

