
  

  
 
  
 
 
  .sort button  {
    margin: 0px 13px 0px 0px;
    width: 168px;
      float:left;

  }
  .sort  {
    margin: 13px 29px 0px 5px;
    width: 168px;
      float:left;

  }

  .sort-container{   
    
    
    margin-bottom: 15px;
    font-family: "Roboto", sans-serif;
    width: 8%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    border: none; 
    color: #525c66; 
    font-size: 1em;
    background-color: white;
    
    border-radius: 5px
  }

  .sort-container:hover{
    cursor: pointer;
  }
 
  