.searchBar_input{  
 
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  width:280PX;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
  border: none; 
  color: #525c66; 
  font-size: 1em;
flex-grow: 1;
  border-radius: 10px 0px 0px 5px;
}
.searchBer_form{
    display: flex;
    width: fit-content
}

.searchBar_input:hover{
  cursor: pointer;
  background-color: hsl(96, 100%, 36%);
  color: white;
  
}

.searchBar_input:hover::placeholder{
  color: white;
}

.searchBar_button{
    margin-bottom: 15px;
    font-family: "Roboto", sans-serif;
    width: 20%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    border: none; 
    color: #525c66; 
    font-size: 1em;
    background-color: white;
    
    border-radius: 0px 10px 10px 0px;
}

.searchBar_button:hover{
  cursor: pointer;
  background-color: hsl(96, 100%, 36%);
  color: white;
}