
.container  { 
    
    background-image: url("../../images/landingPage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   

}



.landing_button {
  
    margin: 0px -383px 99px 0px;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 2em;
    color: rgb(18, 32, 22);
    font-family: "Roboto", sans-serif;
    font-synthesis: style;
    font-weight: bolder;
    border-radius: 50%;
    height: 5.5em;
    width: 5.5em;
    transition: 0.5s;
    
        
    }

.landing_button:hover {
    font-size: 1.7em;
    cursor: pointer;
    color: rgb(71, 105, 81);
}
