.sort button  {
    margin: 13px 29px 0px 5px;
    width: 168px;
      float:left;

}

.pagination_container{
  position: absolute;
  right: 0;
  width: 100%; 
 display: inline-block;
 top: 50%;
 bottom: 50%;
 
}
.pagination_left{
 position: fixed;
left: 0% ;

border: none;
font-size: 3em;
background-color: transparent;
color: rgb(143, 122, 6);
}

.pagination_left:hover{
  cursor: pointer;
  color: hsl(96, 100%, 36%);
 
}

.pagination_right{

 position: fixed;
 right: 0% ;
 background-color: transparent;
 border: none;
 font-size: 3em;

 color: rgb(143, 122, 6);
}

.pagination_right:hover{
  cursor: pointer;
  color: hsl(96, 100%, 36%);
 
}